<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/layout :: header(~{::title},~{::link},~{::style})"></head>
<body>
<div class="admin-main layui-anim layui-anim-upbit">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>角色管理</legend>
    </fieldset>
    <blockquote class="layui-elem-quote">
        <a href="add" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>添加角色</a>
    </blockquote>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
<script type="text/html" id="status">
    <input type="checkbox" name="status" value="{{d.roleId}}" lay-skin="switch" lay-text="是|否" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="sort">
    <input name="{{d.roleId}}" data-id="{{d.roleId}}" class="list_order layui-input" value=" {{d.sort}}" size="10"/>
</script>
<script type="text/html" id="action">
    {{# if(d.roleId > 1){ }}
    <a href="/role/edit/{{d.roleId}}" class="layui-btn layui-btn-xs btn-edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs btn-delete" lay-event="del">删除</a>
    {{# } }}
</script>
<script th:replace="/common/layout :: bottom-script"></script>
<script th:src="@{/admin/js/role/index.js}" charset="utf-8"></script>
</body>
</html>
