<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/layout :: header(~{::title},~{::link},~{::style})">

</head>

<body>
<div class="admin-main layui-anim layui-anim-upbit">
    <div class="table-responsive">
        <ul class="site-doc-icon">

            <li th:each="icon:${iconList}">
                <i class="icon" th:classappend="${icon}"  aria-hidden="true" th:data-icon="${icon}"></i>
                <div class="doc-icon-fontclass">[[${icon}]]</div>
            </li>

        </ul>
    </div>

</div>
</body>
</html>