<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/layout :: header(~{::title},~{::link},~{::style})"></head>
<body>
<div class="layui-layout layui-layout-admin">
<div class="layui-header header">
    <div class="layui-main">
        <div class="admin-login-box">
            <a class="logo" style="left: 0;" href="/index"><span style="font-size: 22px;">EasyAdmin</span></a>
            <div class="admin-side-toggle fs1"><span class="icon icon-menu"></span></div>
            <div class="admin-side-full"><span class="icon icon-enlarge"></span></div>
        </div>
        <ul class="layui-nav admin-header-item" lay-filter="side-top-right">
            <li class="layui-nav-item" id="help"><a href="">下载操作文档</a></li>
            <li class="layui-nav-item" id="cache"><a href="javascript:;">清空缓存</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;" class="admin-header-user">
                    <img src="/img/default_avatar.png" class="admin_avatar layui-nav-img" />
                    <span class="admin_name">管理员</span>
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>注销</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav admin-header-item-mobile">
            <li class="layui-nav-item"><a href="javascript:;" target="_blank">前台主页</a></li>
            <li class="layui-nav-item"><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 登出</a></li>
        </ul>
    </div>
</div>
<div class="layui-side layui-bg-black" id="admin-side">
    <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side"></div>
</div>
<div class="layui-body" style="bottom: 0;border-left: solid 2px #1E9FFF;" id="admin-body">
    <div class="layui-tab admin-nav-card layui-tab-brief" lay-filter="admin-tab">
        <ul class="layui-tab-title">
            <li lay-id="2020111165058" class="layui-this">
                <i class="icon icon-earth" aria-hidden="true"></i>
                <cite>系统首页</cite>
            </li>
        </ul>
        <div class="layui-tab-content" style="min-height: 150px; padding: 5px 0 0 0;">
            <div class="layui-tab-item layui-show">
                <iframe src="/main"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="layui-footer footer footer-demo" id="admin-footer">
    <div class="layui-main">
        <p>Copyright © 2020 SingleZhang 405780096@qq.com</p>
    </div>
</div>
<div class="site-tree-mobile layui-hide"><i class="layui-icon">&#xe602;</i></div>
<div class="site-mobile-shade"></div>
<script  th:inline="javascript">
    var navs = {};
</script>
<script th:replace="/common/layout :: bottom-script"></script>
<script th:src="@{/admin/js/index.js}"></script>
</div>
</body>
</html>